.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    padding: 22px 52px;
}

.botoes {
    display: flex;
    gap: 25px;

    & button {
        width: 90px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        border-radius: 10px;
        border: 2px solid white;
        color: white;
        background: none;
    }

    & button.ativo {
        background-color: black;
        color: var(--cor-terciaria);
        border: 2px solid var(--cor-terciaria);
        box-shadow: 0 0 6px 2px var(--cor-terciaria) inset;
    }
}