@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --cor-primaria: #191919;
  --cor-secundaria: #030910;
  --cor-terciaria: #2271d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  background-color: var(--cor-primaria);
}